<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Curso Vue.js</title>
  </head>
  <body>
    <div id="app">
      <input type="text" name="name" v-model="name" placeholder="insert your name"/>
      <p>Your name in uppercase is: {{  name | uppercase }}</p>
      <form @submit.prevent="submit">
        <h2>what would  do you like to learn?</h2>

        <input v-model="cursos" type="checkbox" id="vue" value="vue.js">
        <label for="vue">Vue.js</label>
        
        <input v-model="cursos" type="checkbox" id="react" value="React">
        <label for="react">React</label>

        <input v-model="cursos" type="checkbox" id="react" value="React Native">
        <label for="react">React Native</label>

        <input v-model="cursos" type="checkbox" id="node" value="Node.js">
        <label for="node">Node.js</label>

        <input v-model="cursos" type="checkbox" id="ruby" value="Ruby">
        <label for="react">Ruby</label>

        <input type="submit" value="Send"/>
      </form>
    </div>
    <script src="http://unpkg.com/vue"></script>
    <script>
      let app = new Vue({
        el: '#app',
        data:{
          name:'',
          cursos:[]
        },
        filters: {
          uppercase: function (text) {
            return text.toUpperCase()
          }
        },
        methods:{
          submit: function(){
            console.log(this.cursos)
          }
        }
      })
    </script>
  </body>
</html>