<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Curso Vue.js</title>
  </head>
  <body>
    <div id="app">
      <input type="text" name="name" v-model="name" placeholder="insert your name"/>
      <p>Your name in uppercase is: {{  name | uppercase }}</p>
      <form @submit.prevent="submit">
        <h2>What would do you like to learn?</h2>
        <template v-for="skill in skills">
          <input v-model="selectedSkills" type="checkbox" :id="skill.value" :value="skill.value">
          <label :for="skill.value">{{skill.name}}</label>
        </template>
        <input type="submit" value="Send"/>
      </form>
    </div>
    <script src="http://unpkg.com/vue"></script>
    <script>
      let app = new Vue({
        el: '#app',
        data:{
          name:'',
          skills: [
            { name:'Vue.js', value:'vue' },
            { name:'React', value:'react' },
            { name:'React Native', value:'reactNative' },
            { name:'Node.js', value:'node' },
            { name:'Ruby', value:'ruby' }
          ],
          selectedSkills:[]
        },
        filters: {
          uppercase: function (text) {
            return text.toUpperCase()
          }
        },
        methods:{
          submit: function(){
            console.log(this.selectedSkills)
          }
        }
      })
    </script>
  </body>
</html>